{% extends 'base.html' %}
{% load uniquetags %}

{% block content %}
<h3 class="text-center">Текущая неделя</h3>
<hr style="height: 1px">
    <div class="col-xs-12">
    <div class="row">
    {% for day in schedule %}

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <table class="table table-bordered">
        <tr>
            <th colspan="3"><h3 class="text-centered">{{ days_of_week|keyvalue:forloop.counter }}</h3></th>
        </tr>
            <tr>
                <td align="center"><b>Время</b></td>
                <td align="center"><b>Урок</b></td>
                <td align="center"><b>Класс</b></td>
            </tr>
            {% for sched in day %}
                <tr>
                    <td align="center">{{ sched.time }}</td>
                    <td align="center"><a href="/lesson/{{ sched.id }}/?week=1">{{ sched.lesson }}</a></td>
                    <td align="center">{{ sched.form }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
        {% if forloop.counter == 6 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
<h3 class="text-center">Прошлая неделя</h3>
<hr style="height: 1px">
    <div class="col-xs-12">
    <div class="row">
    {% for day in schedule %}

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <table class="table table-bordered">
        <tr>
            <th colspan="3"><h3 class="text-centered">{{ days_of_week|keyvalue:forloop.counter }}</h3></th>
        </tr>
            <tr>
                <td align="center"><b>Время</b></td>
                <td align="center"><b>Урок</b></td>
                <td align="center"><b>Класс</b></td>
            </tr>
            {% for sched in day %}
                <tr>
                    <td align="center">{{ sched.time }}</td>
                    <td align="center"><a href="/lesson/{{ sched.id }}/?week=0">{{ sched.lesson }}</a></td>
                    <td align="center">{{ sched.form }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
        {% if forloop.counter == 6 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
<h3 class="text-center">Следующая неделя</h3>
<hr style="height: 1px">

    <div class="col-xs-12">
    <div class="row">

    {% for day in schedule %}

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <table class="table table-bordered">
        <tr>
            <th colspan="3"><h3 class="text-centered">{{ days_of_week|keyvalue:forloop.counter }}</h3></th>
        </tr>
            <tr>
                <td align="center"><b>Время</b></td>
                <td align="center"><b>Урок</b></td>
                <td align="center"><b>Класс</b></td>
            </tr>
            {% for sched in day %}
                <tr>
                    <td align="center">{{ sched.time }}</td>
                    <td align="center"><a href="/lesson/{{ sched.id }}/?week=2">{{ sched.lesson }}</a></td>
                    <td align="center">{{ sched.form }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
        {% if forloop.counter == 6 %}
            </div><div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock %}