{% extends 'base.html' %}
{% load uniquetags %}

{% block content %}


<div class="row">
    <div class="col-xs-6">
        <table class="table table-bordered">
            <tr>
                <th align="center">ФИО</th>
                <th align="center">Отсутствовал</th>
                <th align="center">Оценка</th>
            </tr>
            {% for result in lesson_result.results.all %}
            <tr>
                <td align="center">{{ result.pupil.get_full_name }}</td>
                <td align="center"><input type="checkbox" {% if result.absent %}checked{% endif %}></td>
                <td align="center"><input type="number"></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}