{% extends 'base.html' %}
{% load uniquetags %}

{% block content %}
    {% for day in schedule %}
    <p>{{ days_of_week|keyvalue:forloop.counter }}</p>
    {% for sched in day %}
    <p>{{ sched.time }}: {{ sched.lesson }}. {{ sched.teacher }}</p>
    {% endfor %}
    {% endfor %}
{% endblock %}