.loginbox {
    width: 80%;
    margin: auto;
}
.well {
    margin: auto;
    overflow: hidden;
}

.menu {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    font-size: large;
}

.topmenu {
    margin-bottom: 10px;
}

.logo {
    margin: 2px;
}

hr {
    width: 95%;
    color: black;
    background-color: black;
}

.menu-btn {
    width: 75px;
}