<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="row">
    <div class="col-xs-12">
    <div class="well topmenu">
        <div class="col-xs-3">
            <a href="/"><h2 class="logo">Школа</h2></a>
        </div>
        <div class="col-xs-9">
            <span class="menu"><a href="/login" class="btn btn-success menu-btn">Вход</a> <a href="/logout" class="btn btn-danger menu-btn">Выход</a></span>
        </div>
    </div>
</div>
</div>
    {% block content %}{% endblock %}
</body>
</html>