 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-4 col-lg-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="well text-center">
                <form class="form" method="post">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger"><h5>{{ message }}</h5></div>
                    {% endfor %}
                    {% endif %}
                    {% csrf_token %}
                    <label>email<input type="email" name='username' class="form-control"></label><br>
                    <label>password<input type="password" name='password' class="form-control"></label><br>
                    <input type="submit" value="Войти" class="btn btn-success">
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>